[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts.git
[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/balena-os/poky
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = https://github.com/balena-os/meta-balena.git
[submodule "layers/meta-intel"]
	path = layers/meta-intel
	url = https://git.yoctoproject.org/git/meta-intel
[submodule "layers/meta-up-board"]
	path = layers/meta-up-board
	# switch to the new BSP repo as been advised by AAEON
	url = https://github.com/up-division/meta-up-board.git
[submodule "contracts"]
	path = contracts
	url = https://github.com/balena-io/contracts.git
