[Unit]
Description=Ampak AP6214A Bluetooth HCI on UPCore
ConditionPathIsDirectory=/sys/bus/acpi/devices/BCM2EA3:00
Before=bluetooth.service
After=sys-devices-pci0000:00-8086228A:01-tty-ttyS2.device

[Service]
ExecStart=/usr/bin/hciattach -n -t 10 /dev/ttyS2 bcm43xx 115200

[Install]
WantedBy=multi-user.target
